.benefits {
	$self: &;
	margin-top: 40px;
	overflow: clip;
	padding-bottom: 20px;

	@include media('md') {
		margin-top: 70px;
	}

	@include media('xl') {
		margin-top: 112px;
	}

	&__inner {
		position: relative;
	}

	&__bg {
		height: 192px;
		width: 100%;
		background: url("#{$rootUrl}benefits/benefits-mob-bg.webp") no-repeat center;
		background-size: auto 100%;
		margin-top: 32px;

		@include media('md') {
			height: 480px;
			background-image: url("#{$rootUrl}benefits/benefits-bg.webp") center top;
			background-size: 738px auto;
		}

		@include media('lg') {
			background-size: contain;
		}

		@include media('xl') {
			margin-top: 46px;
		}
	}

	&__cont {
		position: sticky;
		top: 0;
		left: 0;
		width: 100%;
		padding-block: 40px;

		@include media('md') {
			padding-block: 50px;
		}
	}

	&__list {
		margin-top: 204px;
		position: relative;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		row-gap: 12px;

		@include media('md') {
			margin-top: 100px;
			position: sticky;
			top: 190px;
			left: 0;
		}
	}

	&__item {
		width: 100%;
		box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.04);
		background: var(--white);
		border-radius: 16px;
		max-width: 400px;
		overflow: clip;
		margin: auto;

		@include media('md',max) {
			top: 290px;
			position: sticky;
		}

		@include media('md') {
			max-width: 300px;
		}

		@include media('lg') {
			max-width: 386px;
		}
	}

	&__item-inner {
		position: relative;
		height: 194px;

		@include media('lg') {
			height: 208px;
		}

		&:before {
			position: absolute;
			display: block;
			content: "";
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			width: 338px;
		}
	}

	&__item_1 {
		z-index: 5;

		@include media('md') {
			margin: 0;

		}

		#{$self}__item-inner {
			&:before {
				height: 488px;
				background-image: url('#{$rootUrl}benefits/benefits-item-bg-1.webp');
				top: -253px;
				right: -14px;
			}
		}
	}

	&__item_2 {
		z-index: 10;

		@include media('md') {

		}

		#{$self}__item-inner {
			&:before {
				height: 516px;
				background-image: url('#{$rootUrl}benefits/benefits-item-bg-2.webp');
				top: -281px;
				right: -14px;
			}
		}
	}

	&__item_3 {
		z-index: 15;

		@include media('md') {
			margin: 0 0 0 auto;
		}

		#{$self}__item-inner {
			&:before {
				height: 474px;
				background-image: url('#{$rootUrl}benefits/benefits-item-bg-3.webp');
				top: -281px;
				right: -14px;
			}
		}
	}

	&__item-cont {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: 10;
		padding: 24px 20px;

		@include media('lg') {
			padding: 32px 24px;
		}
	}

	&__item-name {
		margin: 0 0 8px;
		font-weight: 600;
		font-size: 18px;
		line-height: 1.22;

		@include media('lg') {
			margin-bottom: 12px;
			font-size: 20px;
			line-height: 1.2;
		}
	}

	&__item-desc {
		font-weight: 300;
		font-size: 16px;
		line-height: 1.25;
		margin: 0;
	}
}