.gen-text {
	margin-block: 60px;

	@include media('xl') {
		margin-top: 64px;
		position: relative;
	}

	&__header {
		text-align: center;
		max-width: 504px;
		margin-inline: auto;
		margin-bottom: 20px;

		@include media('md') {
			margin-bottom: 48px;
		}
	}

	&__title {
		margin-bottom: 8px;

		@include media('md') {
			margin-bottom: 12px;
		}
	}

	&__bg {
		height: 192px;
		background: url("#{$rootUrl}gen-text-bg-mob.webp") no-repeat center;
		background-size: contain;

		@include media('md') {
			height: 360px;
			background-image: url('#{$rootUrl}gen-text-bg-desk.webp');
			background-size: auto 100%;
		}

		@include media('xl') {
			height: 480px;
		}
	}

	&__cont {
		position: relative;
		z-index: 10;
		margin-top: -24px;

		@include media('xl') {
			margin-top: -162px;
		}
	}

	&__slider {
		@include media('xl') {
			padding: 0;
		}
	}

	&__slider-inner {
		@include media('xl') {
			display: grid;
			gap: 20px;
			grid-template-columns: repeat(4, minmax(0, 1fr));
		}
	}

	&__card {
		min-height: 0;
	}

	&__card-cont {
		position: relative;

		@include media('xl') {
			padding: 32px 24px 24px 24px;
		}
	}
}