.possibilities {
	margin-top: 80px;

	@include media('xl') {
		margin-top: 160px;
	}

	&__header {
		text-align: center;
	}

	&__title {
		margin-bottom: 32px;
	}

	&__sub-title {
		font-weight: 600;
		font-size: 20px;
		line-height: 1.2;
		margin: 0 0 8px;

		@include media('md') {
			font-size: 28px;
		}
	}

	&__desc {
		font-weight: 300;
		font-size: 16px;
		line-height: 1.25;
		margin: 0;
	}
}