.templates {
	$self: &;
	margin-top: 20px;
	border-radius: 16px;
	padding: 32px 0;
	overflow: clip;
	backdrop-filter: blur(8px);
	box-shadow: 0 0 20px 0 rgba(0, 87, 255, 0.08);
	background: var(--white);

	@include media('md') {
		padding: 42px 0;
	}

	&__title {
		text-align: center;
		margin-bottom: 24px;

		@include media('md') {
			margin-bottom: 28px;
		}
	}

	&__inner {
		position: relative;
		overflow: clip;

		&:before,
		&:after {
			filter: blur(32px);
			background: var(--white);
			height: 120px;
			width: 200%;
			position: absolute;
			left: 50%;
			margin-left: -50%;
			display: block;
			content: "";
		}

		&:before {
			top: -100px;
		}

		&:after {
			bottom: -100px;
		}
	}

	&__scroll {
		display: flex;
		user-select: none;
		column-gap: 8px;
		margin-bottom: 8px;
		width: 100%;

		&_reverse {
			#{$self}__scroll-content  {
				animation-direction: reverse;
			}
		}
	}

	&__scroll-content {
		flex-shrink: 0;
		display: flex;
		justify-content: space-around;
		column-gap: 8px;
		min-width: 100%;
		animation: scroll 180s linear infinite;
		will-change: transform;
	}

	&__item {
		border-radius: 12px;
		padding: 20px;
		width: 280px;
		box-shadow: 0 0 20px 0 rgba(0, 87, 255, 0.08);
		background: var(--white);

		@include media('md') {
			border-radius: 16px;
			padding: 24px;
		}
	}

	&__item-icon {
		width: 20px;
		height: 20px;
		margin-bottom: 8px;

		@include media('md') {
			width: 24px;
			height: 24px;
			margin-bottom: 12px;
		}
	}

	&__item-name {
		font-weight: 400;
		font-size: 14px;
		line-height: 1.29;
		margin: 0 0 4px;

		@include media('md') {
			font-size: 18px;
			line-height: 1.33;
		}
	}

	&__item-desc {
		margin: 0;
		font-weight: 300;
		font-size: 12px;
		line-height: 1.33;

		@include media('md') {
			font-size: 14px;
			line-height: 1.29;
		}
	}
}