.work-steps {
	margin-top: 80px;
	scroll-margin-top: 120px;

	@include media('xl') {
		margin-top: 124px;
	}

	&__title {
		text-align: center;
		margin-bottom: 32px;

		@include media('md') {
			margin-bottom: 47px;
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		row-gap: 20px;

		@include media('sm') {
			display: grid;
			gap: 20px;
			grid-template-columns: repeat(2, minmax(0, 1fr));
		}

		@include media('lg') {
			grid-template-columns: repeat(3, minmax(0, 1fr));
		}
	}

	&__item {
		position: relative;
		border-radius: 16px;
		padding: 48px 20px 24px 20px;
		box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.06);
		background: var(--white);
		z-index: 2;
		overflow: clip;

		@include media('xl') {
			padding: 80px 24px 32px 24px;
		}

		&:before {
			display: block;
			content: "";
			position: absolute;
			top: -4px;
			right: -14px;
			z-index: -1;
			width: 340px;
			height: 234px;
			background-position: top right;
			background-repeat: no-repeat;
			background-size: contain;
		}
	}

	&__item_1 {
		&:before {
			background-image: url("#{$rootUrl}work-steps/work-steps-bg-1.webp");
		}
	}

	&__item_2 {
		&:before {
			background-image: url("#{$rootUrl}work-steps/work-steps-bg-2.webp");
		}
	}

	&__item_3 {
		&:before {
			background-image: url("#{$rootUrl}work-steps/work-steps-bg-3.webp");
		}
	}

	&__item-num {
		font-weight: 600;
		font-size: 26px;
		line-height: 1.15;
		color: var(--blue);
		margin-bottom: 8px;

		@include media('xl') {
			font-size: 40px;
			line-height: 1.1;
			margin-bottom: 12px;
		}
	}

	&__item-name {
		margin: 0 0 8px;
		font-weight: 600;
		font-size: 18px;
		line-height: 1.22;

		@include media('xl') {
			font-size: 20px;
			line-height: 1.2;
			margin-bottom: 12px;
		}
	}

	&__item-desc {
		margin: 0;
		font-weight: 300;
		font-size: 16px;
		line-height: 1.25;
	}
}