{% extends 'layout/layout.html.twig' %}
{% block title %}markup rig{% endblock %}

{% block page %}
	<div class="main-container">
		<h1>ui</h1>

		<h2>Icons</h2>
		{% set icons = [
			{ name: 'document', icon: 'document', width: 30, height: 30 },
			{ name: 'document-left', icon: 'document-left', width: 30, height: 30 },
			{ name: 'document-center', icon: 'document-center', width: 30, height: 30 },
			{ name: 'document-center-2', icon: 'document-center-2', width: 30, height: 30 },
			{ name: 'document-align-center', icon: 'document-align-center', width: 30, height: 30 },
			{ name: 'volume-mute', icon: 'volume-mute', width: 30, height: 30 },
			{ name: 'text-left', icon: 'text-left', width: 30, height: 30 },
			{ name: 'pause', icon: 'pause', width: 30, height: 30 },
			{ name: 'menu-fries', icon: 'menu-fries', width: 30, height: 30 },
			{ name: 'text', icon: 'text', width: 30, height: 30 },
			{ name: 'tick', icon: 'tick', width: 30, height: 30 },
			{ name: 'group', icon: 'group', width: 30, height: 30 },
			{ name: 'text-2', icon: 'text-2', width: 30, height: 30 },
			{ name: 'faq-circle', icon: 'faq-circle', width: 30, height: 30 },
			{ name: 'stars', icon: 'stars', width: 30, height: 30 },
			{ name: 'setting', icon: 'setting', width: 30, height: 30 },
			{ name: 'text-3', icon: 'text-3', width: 30, height: 30 },
			{ name: 'text-4', icon: 'text-4', width: 30, height: 30 },
			{ name: 'like', icon: 'like', width: 30, height: 30 },
			{ name: 'star', icon: 'star', width: 30, height: 30 },
			{ name: 'text-5', icon: 'text-5', width: 30, height: 30 },
			{ name: 'like-2', icon: 'like-2', width: 30, height: 30 },
			{ name: 'stop-circle', icon: 'stop-circle', width: 30, height: 30 },
			{ name: 'fb-o', icon: 'fb-o', width: 30, height: 30 },
			{ name: 'google-advertisement', icon: 'google-advertisement', width: 30, height: 30 },
			{ name: 'display', icon: 'display', width: 30, height: 30 },
			{ name: 'notification', icon: 'notification', width: 30, height: 30 },
			{ name: 'home', icon: 'home', width: 30, height: 30 },
			{ name: 'dollar-circle', icon: 'dollar-circle', width: 30, height: 30 },
			{ name: 'text-6', icon: 'text-6', width: 30, height: 30 },
			{ name: 'discount-circle', icon: 'discount-circle', width: 30, height: 30 },
			{ name: 'message', icon: 'message', width: 30, height: 30 },
			{ name: 'send', icon: 'send', width: 30, height: 30 },
			{ name: 'send-2', icon: 'send-2', width: 30, height: 30 },
			{ name: 'profile', icon: 'profile', width: 30, height: 30 },
			{ name: 'edit-square', icon: 'edit-square', width: 30, height: 30 },
			{ name: 'like-3', icon: 'like-3', width: 30, height: 30 },
			{ name: 'document-align-bottom', icon: 'document-align-bottom', width: 30, height: 30 },
			{ name: 'video', icon: 'video', width: 30, height: 30 },
			{ name: 'video-2', icon: 'video-2', width: 30, height: 30 },
			{ name: 'hashtag', icon: 'hashtag', width: 30, height: 30 },
			{ name: 'text-7', icon: 'text-7', width: 30, height: 30 },
			{ name: 'document-align-left', icon: 'document-align-left', width: 30, height: 30 },
			{ name: 'add', icon: 'add', width: 30, height: 30 },
			{ name: 'caret', icon: 'caret', width: 30, height: 30 },
		] %}

		{% set columns = 3 %}
		<table class="w-full">
			<tr>
				{% for i in 1..columns %}
					<th class="text_center">Icon</th>
					<th class="text_start">Name</th>
				{% endfor %}
			</tr>
			{% for item in icons %}
				{% if loop.index0 % columns == 0 %}
					<tr>
				{% endif %}
				<td>
					<svg style="width: {{ item.width }}px; height: {{ item.height }}px;" class="icon mx-auto">
						<use href="/img/sprite.svg#{{ item.icon }}"></use>
					</svg>
				</td>
				<td>#{{ item.name }}</td>

				{% if loop.index0 % columns == columns - 1 or loop.last %}
					</tr>
				{% endif %}
			{% endfor %}
		</table>
	</div>
{% endblock %}

