<section class="possibilities">
	<div class="main-container">
		<div class="possibilities__header">
			<h2 class="text_center section-title possibilities__title">
				Возможности <span class="text-color_primary">Assistant AI</span>
			</h2>
			<h3 class="possibilities__sub-title">Генерация изображений</h3>
			<p class="possibilities__desc">
				Создавайте уникальные изображения, удаляйте фон, меняйте лица на фото, улучшайте качество,
				и открывайте для себя множество
				других функций Assistant AI
			</p>
		</div>

		<div class="slider-m-scroll">

		</div>
	</div>
</section>