<section class="trust-content">
	<div class="main-container trust-content__inner">
		<div class="trust-content__cont">
			<h2 class="section-title trust-content__title">
				Доверьте создание<br>
				контента <span class="text-color_primary">Assistant AI</span>
			</h2>

			<p class="section-desc trust-content__desc">Инновационные решения, которые помогут вам генерировать качественный контент <br class="hidden_sm">
				для любой задачи</p>

			<div class="trust-content__footer">
				<a href="" class="btn btn_dark">Начать сейчас</a>
			</div>
		</div>
		<div class="trust-content__bn hidden_max-xl"></div>
	</div>

	<div class="trust-content__bn hidden_xl"></div>
</section>