@font-face {
    font-family: 'SONGER Condensed';
    src: url('SONGERCondensed-Medium.woff2') format('woff2'),
        url('SONGERCondensed-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SONGER Condensed';
    src: url('SONGERCondensed-Heavy.woff2') format('woff2'),
        url('SONGERCondensed-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SONGER Condensed';
    src: url('SONGERCondensed-ExtraBold.woff2') format('woff2'),
        url('SONGERCondensed-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SONGER Condensed';
    src: url('SONGERCondensed-Bold.woff2') format('woff2'),
        url('SONGERCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SONGER Condensed';
    src: url('SONGERCondensed.woff2') format('woff2'),
        url('SONGERCondensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

