.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	column-gap: 10px;
	border: 1px solid;
	outline: transparent;
	background: transparent;
	padding: 0 32px;
	height: 44px;
	border-radius: 50px;
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 16px;
	line-height: 1.25;
	letter-spacing: -0.02em;
	text-decoration: none;
	transition: 0.3s all ease;

	&_primary {

	}

	&_dark {
		background: var(--black);
		color: var(--white);
		border-color:  var(--black);

		&:hover {
			background: var(--blue);
			border-color:  var(--blue);
		}
	}

	&_white {
		color: var(--black);
		background: var(--white);
		border-color:  var(--white);

		&:hover {
			background: var(--blue);
			border-color:  var(--blue);
			color: var(--white);
		}
	}
}