.card {
	position: relative;
	min-height: 294px;

	@include media('xl') {
		min-height: 320px;
	}

	&__img-w {
		position: relative;
		z-index: 2;
		overflow: hidden;
		border-radius: 16px;
	}

	&__img {
		width: 100%;
		display: block;
	}


	&__cont {
		border-radius: 16px;
		padding: 28px 20px 20px 20px;
		width: 100%;
		min-height: 118px;
		box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.06);
		background: var(--white);
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 20;
		overflow: clip;

		@include media('xl') {
			padding: 28px 24px 20px 24px;
		}

		&:before {
			display: block;
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			background: url("#{$rootUrl}possibilities/opts-item-bg.webp") no-repeat center;
			background-size: contain;
			width: 267px;
			height: 144px;
			z-index: -1;
		}
	}

	&__name {
		padding: 0;
		font-weight: 600;
		font-size: 18px;
		line-height: 122%;
		margin: 0 0 8px;

		@include media('lg') {
			margin-bottom: 12px;
			font-size: 20px;
			line-height: 1.2;
		}
	}

	&__desc {
		font-weight: 300;
		font-size: 16px;
		line-height: 1.25;
		margin: 0;
	}
}