
.centered-page {
	padding-block: 30px;
	min-height: calc(100vh - 205px);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	@include media('lg') {
		min-height: calc(100vh - 188px);
	}

	@include media('xl') {
		min-height: 0;
		display: block;
		padding-top: 70px;
	}
}