@font-face {
  font-family: 'Myriad Pro';
  src: url('#{$rootUrlFonts}MyriadPro/MyriadPro-Semibold.woff2') format('woff2'),
  url('#{$rootUrlFonts}MyriadPro/MyriadPro-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('#{$rootUrlFonts}MyriadPro/MyriadPro-Regular.woff2') format('woff2'),
  url('#{$rootUrlFonts}MyriadPro/MyriadPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('#{$rootUrlFonts}MyriadPro/MyriadPro-Bold.woff2') format('woff2'),
  url('#{$rootUrlFonts}MyriadPro/MyriadPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('#{$rootUrlFonts}MyriadPro/MyriadPro-Light.woff2') format('woff2'),
  url('#{$rootUrlFonts}MyriadPro/MyriadPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('#{$rootUrlFonts}Montserrat/Montserrat-SemiBold.woff2') format('woff2'),
  url('#{$rootUrlFonts}Montserrat/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
